In [2]:
amsterdam <- read.csv("C:/rscripts/data/listings.csv")

In [3]:
colnames(amsterdam)

 [1] "id"                             "name"
 [3] "host_id"                        "host_name"
 [5] "neighbourhood_group"            "neighbourhood"
 [7] "latitude"                       "longitude"
 [9] "room_type"                      "price"
[11] "minimum_nights"                 "number_of_reviews"
[13] "last_review"                    "reviews_per_month"
[15] "calculated_host_listings_count" "availability_365"
[17] "number_of_reviews_ltm"          "license"

In [9]:
amsterdam <- subset(amsterdam, select = c("id","neighbourhood_cleansed","latitude","longitude","property_type","room_type","bedrooms","price","number_of_reviews"))

ERROR: Error in `[.data.frame`(x, r, vars, drop = drop): undefined columns selected

In [10]:
amsterdam$price <- gsub("$","",amsterdam$price,fixed = TRUE)

In [11]:
amsterdam$price <- gsub(",","",amsterdam$price,fixed = TRUE)
amsterdam$price <- as.numeric(as.character(amsterdam$price))

In [12]:
amsterdam <- amsterdam[complete.cases(amsterdam),]

In [13]:
head(amsterdam)

     id name host_id host_name neighbourhood_group neighbourhood latitude
     longitude room_type price minimum_nights number_of_reviews last_review
     reviews_per_month calculated_host_listings_count availability_365
     number_of_reviews_ltm license

In [14]:
summary(amsterdam)

       id          name              host_id     host_name
 Min.   : NA   Length:0           Min.   : NA   Length:0
 1st Qu.: NA   Class :character   1st Qu.: NA   Class :character
 Median : NA   Mode  :character   Median : NA   Mode  :character
 Mean   :NaN                      Mean   :NaN
 3rd Qu.: NA                      3rd Qu.: NA
 Max.   : NA                      Max.   : NA
 neighbourhood_group neighbourhood         latitude     longitude
 Mode:logical        Length:0           Min.   : NA   Min.   : NA
                     Class :character   1st Qu.: NA   1st Qu.: NA
                     Mode  :character   Median : NA   Median : NA
                                        Mean   :NaN   Mean   :NaN
                                        3rd Qu.: NA   3rd Qu.: NA
                                        Max.   : NA   Max.   : NA
  room_type             price     minimum_nights number_of_reviews
 Length:0           Min.   : NA   Min.   : NA    Min.   : NA
 Class :character   1st Qu.: NA   1st Qu.: NA    1st Qu.: NA
 Mode  :character   Median : NA   Median : NA    Median : NA
                    Mean   :NaN   Mean   :NaN    Mean   :NaN
                    3rd Qu.: NA   3rd Qu.: NA    3rd Qu.: NA
                    Max.   : NA   Max.   : NA    Max.   : NA
 last_review        reviews_per_month calculated_host_listings_count
 Length:0           Min.   : NA       Min.   : NA
 Class :character   1st Qu.: NA       1st Qu.: NA
 Mode  :character   Median : NA       Median : NA
                    Mean   :NaN       Mean   :NaN
                    3rd Qu.: NA       3rd Qu.: NA
                    Max.   : NA       Max.   : NA
 availability_365 number_of_reviews_ltm   license
 Min.   : NA      Min.   : NA           Length:0
 1st Qu.: NA      1st Qu.: NA           Class :character
 Median : NA      Median : NA           Mode  :character
 Mean   :NaN      Mean   :NaN
 3rd Qu.: NA      3rd Qu.: NA
 Max.   : NA      Max.   : NA

In [21]:
table(amsterdam$neighbourhood_cleansed)

< table of extent 0 >

In [22]:
table(amsterdam$neighbourhood_cleansed,amsterdam$bedrooms)

< table of extent 0 x 0 >

In [23]:
neigh_bedrooms <- table(amsterdam$neighbourhood_cleansed,amsterdam$bedrooms)

In [26]:
neigh_bedrooms_DF <- as.data.frame(neigh_bedrooms)

In [28]:
neigh_bedrooms_DF <- as.data.frame.matrix(neigh_bedrooms)

In [30]:
install.packages("doBy")

Installing package into 'C:/Users/Douglas Schoewe/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

also installing the dependencies 'minqa', 'nloptr', 'RcppEigen', 'backports', 'tidyr', 'tidyselect', 'lme4', 'numDeriv', 'broom', 'Deriv', 'dplyr', 'microbenchmark', 'pbkrtest'

package 'minqa' successfully unpacked and MD5 sums checked
package 'nloptr' successfully unpacked and MD5 sums checked
package 'RcppEigen' successfully unpacked and MD5 sums checked
package 'backports' successfully unpacked and MD5 sums checked
package 'tidyr' successfully unpacked and MD5 sums checked
package 'tidyselect' successfully unpacked and MD5 sums checked
package 'lme4' successfully unpacked and MD5 sums checked
package 'numDeriv' successfully unpacked and MD5 sums checked
package 'broom' successfully unpacked and MD5 sums checked
package 'Deriv' successfully unpacked and MD5 sums checked
package 'dplyr' successfully unpacked and MD5 sums checked
package 'microbenchmark' successfully unpacked and MD5 sums checked
package 'pbkrtest' successfully unpacked and MD5 sums checked
package 'doBy' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Douglas Schoewe\AppData\Local\Temp\RtmpG0l820\downloaded_packages

In [31]:
library(doBy)

In [32]:
summaryBy(price ~ property_type, data = amsterdam, FUN = data_description )

ERROR: Error in .get_fun_names(FUN): object 'data_description' not found

In [ ]:
library(rgdal,verbose = FALSE)

In [36]:
historic = readOGR("C:/rscripts/data/urban_analytics-master/04_Descriptive_statistics/data/historic_buildings.geojson", "OGRGeoJSON",verbose = FALSE)

ERROR: Error in readOGR("C:/rscripts/data/urban_analytics-master/04_Descriptive_statistics/data/historic_buildings.geojson", : could not find function "readOGR"